In [37]:
#import the necessary packages to address - classification problem to determine the fish species
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score 
import pickle

In [38]:
#run and assign the csv file
df = pd.read_csv('Fish.csv')

In [39]:
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [40]:
df.head(11)

   Species  Weight  Length1  Length2  Length3   Height   Width
0    Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1    Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2    Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3    Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4    Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5    Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6    Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7    Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8    Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9    Bream   500.0     28.5     30.7     36.2  14.2266  4.9594
10   Bream   475.0     28.4     31.0     36.2  14.2628  5.1042

In [41]:
df.shape #clarify the shape of the dataset

(159, 7)

In [42]:
df.isnull().sum() # identify any null values

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [43]:
df.isna().sum() # identify any null values

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [44]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [45]:
#define the feature columns and the target column in X and y
X =df.drop(['Species'],axis=1)
y =df['Species']

In [46]:
# split the dataset into training and testing. 20% of the dataset will be used

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [47]:
#Random Forest classifier

In [48]:
model = RandomForestClassifier(n_estimators =100, random_state = 42)

In [49]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [50]:
y_pred = model.predict(X_test)

In [51]:
accuracy = accuracy_score(y_test, y_pred)
print('The accuracy is :', accuracy)

The accuracy is : 0.78125

In [52]:
confu_matrix = confusion_matrix(y_test, y_pred)
confu_matrix

array([[10,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  6,  0,  3,  0,  0],
       [ 0,  0,  0,  3,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  5,  0],
       [ 0,  0,  1,  0,  2,  0,  0]], dtype=int64)

In [53]:
classification_repo = classification_report(y_test, y_pred, zero_division =0)
classification_repo

'              precision    recall  f1-score   support\n\n       Bream       1.00      1.00      1.00        10\n      Parkki       1.00      1.00      1.00         1\n       Perch       0.75      0.67      0.71         9\n        Pike       1.00      1.00      1.00         3\n       Roach       0.00      0.00      0.00         1\n       Smelt       1.00      1.00      1.00         5\n   Whitefish       0.00      0.00      0.00         3\n\n    accuracy                           0.78        32\n   macro avg       0.68      0.67      0.67        32\nweighted avg       0.80      0.78      0.79        32\n'

In [54]:
#saving the model
pickle.dump(model, open('fish-model.pkl', 'wb'))

In [55]:
#load model
model =pickle.load(open('fish-model.pkl', 'rb'))

## initially I started with decision tree classifier however comparing it to the random forest classifier it was less accurate in predicting the class/species of the fish